target/classes/pa1002-notification-papi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0d312786-3091-4177-a659-c013e5561a1f" >
		<db:oracle-connection host="localhost" user="SYSTEM" password="Surya@1998" instance="XE" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="cea5cb45-6be8-4047-b6ed-e5a852f7dc17" />
	<flow name="pa1002-notification-papiFlow" doc:id="ed388f06-fcbf-48a9-9ec7-affeba427e3a" >
		<scheduler doc:name="Scheduler" doc:id="98220f9d-336b-4574-a459-59cb5ec2cb55" >
			<scheduling-strategy >
				<fixed-frequency frequency="20" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Info: notification flow start Logger" doc:id="21ca643c-e6c5-4a55-b959-1f668edb332a" message="notification flow started"/>
		<set-variable value="#[now() as Date {format: 'yyyy/MM/dd'}]" doc:name="Set Variable" doc:id="4d155014-b710-45f8-8c6b-0e0df7e2c332" variableName="dt"/>
		<db:select doc:name="Select" doc:id="7ddeaeb3-600f-42c3-9d0b-d60795acdebd" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from failures where indate=:dt
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"dt": vars.dt
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c23f0045-a151-4b11-88db-5e5377db7083" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="printing payload on to console" doc:id="a3ddc40c-5a9f-4e32-b61a-9995b9e0f9c9" message="#[payload]"/>
		<logger level="INFO" doc:name="Info: notification flow end Logger" doc:id="bfd36493-7de7-4ff7-9324-88c0235cbc46" message="notification flow ended"/>
	</flow>
</mule>
